Team 4/SWM/swm_workflows/SWM-Change-Get-Session.json
{
  "name": "SWM-Change-Get-Session",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=GET",
        "path": "get-session",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "webhook-get-session",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "get-session-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Extract session_id from query params or body\nconst input = $input.first().json;\n\n// GET request: session_id kommt als query parameter\nconst sessionId = input.query?.session_id || input.body?.session_id || input.session_id || '';\n\nconsole.log('[Get-Session] Looking for session_id:', sessionId);\n\nif (!sessionId) {\n  return {\n    json: {\n      success: false,\n      error: 'session_id is required'\n    }\n  };\n}\n\nreturn {\n  json: {\n    session_id: sessionId\n  }\n};"
      },
      "id": "extract-session-id",
      "name": "Extract Session ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JUREjsduC6ISYo6f",
          "mode": "list",
          "cachedResultName": "agent_sessions_swm",
          "cachedResultUrl": "/projects/u4AB9CJNbwvqj8lM/datatables/JUREjsduC6ISYo6f"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.session_id }}"
            }
          ]
        }
      },
      "id": "get-session-from-db",
      "name": "Get Session from DB",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [680, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Format session response\nconst sessionId = $('Extract Session ID').first().json.session_id;\nconst items = $input.all();\n\nconsole.log('[Get-Session] DB returned items:', items.length);\n\nif (items.length === 0 || !items[0].json || !items[0].json.session_id) {\n  console.log('[Get-Session] Session not found:', sessionId);\n  return {\n    json: {\n      success: false,\n      error: 'Session not found',\n      session_id: sessionId\n    }\n  };\n}\n\nconst data = items[0].json;\nconsole.log('[Get-Session] Found session:', JSON.stringify(data).substring(0, 500));\n\n// Parse JSON fields if they are strings\nlet answers = data.answers;\nif (typeof answers === 'string' && answers) {\n  try {\n    answers = JSON.parse(answers);\n  } catch (e) {\n    console.log('[Get-Session] Could not parse answers:', e.message);\n    answers = {};\n  }\n}\n\nlet missingFields = data.missing_fields;\nif (typeof missingFields === 'string' && missingFields) {\n  try {\n    missingFields = JSON.parse(missingFields);\n  } catch (e) {\n    missingFields = [];\n  }\n}\n\nlet projectClassification = data.project_classification;\nif (typeof projectClassification === 'string' && projectClassification) {\n  try {\n    projectClassification = JSON.parse(projectClassification);\n  } catch (e) {\n    projectClassification = {};\n  }\n}\n\nlet metadata = data.metadata;\nif (typeof metadata === 'string' && metadata) {\n  try {\n    metadata = JSON.parse(metadata);\n  } catch (e) {\n    metadata = {};\n  }\n}\n\nreturn {\n  json: {\n    success: true,\n    session_id: data.session_id,\n    requester_email: data.requester_email,\n    status: data.status || 'open',\n    created_at: data.created_at || data.createdAt,\n    round_counter: data.round_counter || 0,\n    max_rounds: data.max_rounds || 50,\n    answers: answers || {},\n    missing_fields: missingFields || [],\n    project_classification: projectClassification || {},\n    metadata: metadata || {},\n    last_question: data.last_question,\n    reply_text: data.reply_text\n  }\n};"
      },
      "id": "format-session",
      "name": "Format Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Session ID": {
      "main": [
        [
          {
            "node": "Get Session from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session from DB": {
      "main": [
        [
          {
            "node": "Format Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Session": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-21T00:00:00.000Z",
  "versionId": "1"
}
