Team 4/SWM/swm_workflows/SWM-Change-List-Sessions.json
{
  "name": "SWM-Change-List-Sessions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "list-sessions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-list-sessions",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "list-sessions-webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "cQJ0PWxEInNEL92O",
          "mode": "list",
          "cachedResultName": "agent_sessions",
          "cachedResultUrl": "/projects/9BsYRwnhs4JNzrES/datatables/cQJ0PWxEInNEL92O"
        },
        "returnAll": true
      },
      "id": "read-all-sessions",
      "name": "Read All Sessions",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse DataTable response and format all sessions for the dashboard\nconst items = $input.all();\nconsole.log('Total items received:', items.length);\n\nif (items.length === 0) {\n  return [{\n    json: {\n      success: true,\n      total_sessions: 0,\n      sessions: [],\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\nconst sessions = [];\n\nfor (const item of items) {\n  try {\n    const data = item.json;\n    console.log('Processing item:', JSON.stringify(data).substring(0, 200));\n    \n    // Parse JSON fields if they are strings\n    let answers = data.answers;\n    if (typeof answers === 'string' && answers) {\n      try {\n        answers = JSON.parse(answers);\n      } catch (e) {\n        console.log('Could not parse answers:', e.message);\n        answers = {};\n      }\n    }\n    \n    // Parse missing_fields if it's a string\n    let missingFields = data.missing_fields;\n    if (typeof missingFields === 'string' && missingFields) {\n      try {\n        missingFields = JSON.parse(missingFields);\n      } catch (e) {\n        console.log('Could not parse missing_fields:', e.message);\n        missingFields = [];\n      }\n    }\n    \n    // Parse project_classification if it's a string\n    let projectClassification = data.project_classification;\n    if (typeof projectClassification === 'string' && projectClassification) {\n      try {\n        projectClassification = JSON.parse(projectClassification);\n      } catch (e) {\n        console.log('Could not parse project_classification:', e.message);\n        projectClassification = {};\n      }\n    }\n    \n    sessions.push({\n      session_id: data.session_id,\n      requester_email: data.requester_email,\n      status: data.status || 'open',\n      created_at: data.created_at || data.createdAt || new Date().toISOString(),\n      round_counter: data.round_counter || 0,\n      max_rounds: data.max_rounds || 50,\n      answers: answers || {},\n      missing_fields: missingFields || [],\n      project_classification: projectClassification || {},\n      total_questions: Object.keys(answers || {}).length,\n      has_communication: data.has_communication || false,\n      has_partner_selection: data.has_partner_selection || false,\n      last_updated: data.last_updated || data.updatedAt || data.created_at || data.createdAtated_at\n    });\n  } catch (error) {\n    console.error('Error parsing session:', error.message);\n  }\n}\n\n// Sort by creation date (newest first)\nsessions.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\n\nconst result = {\n  success: true,\n  total_sessions: sessions.length,\n  sessions: sessions,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('Returning result with', sessions.length, 'sessions');\n\nreturn [{ json: result }];"
      },
      "id": "format-sessions",
      "name": "Format Sessions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read All Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read All Sessions": {
      "main": [
        [
          {
            "node": "Format Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Sessions": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-10T00:00:00.000Z",
  "versionId": "1"
}