Team 2/old_version/N8N_wilbot.json
{
  "name": "N8N Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/135e0fa6-8d2d-4c47-ad5b-72eab3292936",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        0
      ],
      "id": "dda269d4-55d8-45e5-9e14-857f376fd841",
      "name": "Webhook",
      "webhookId": "7de4f248-66e9-4931-bc38-c1a2bcd85bf7",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\": \"{{ $json.body.user_message }}\",\n  \"sessionId\": \"{{ $json.body.session_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        0
      ],
      "id": "c560a303-8d12-400d-9bd5-fc17fb8cab3f",
      "name": "Prepare Chat Response",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"response\": \"text\",\n  \"success\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1456,
        0
      ],
      "id": "af943a30-2b44-4ca0-9e64-2580c067a037",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "385b159b-6da5-485c-9596-9d8dd08fb050",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lBzDr1SyQ4cFmyCL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b04c328-1589-40e5-b20a-f44a818123d9",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        0
      ],
      "id": "74905065-3147-4e18-9ab0-cabbf3e774f2",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        512,
        224
      ],
      "id": "b52098d7-7e1c-4403-ac2c-6c7a65fb922e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "1RUiinK5z6EcYYYJ",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "4efe4ff3-1a7f-4601-9aee-965b3ff60fdd",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.output }}\",\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        0
      ],
      "id": "04f9db4f-ae3d-4b10-9884-f39fcbed21ca",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "A2Y40AF2zTNinJvF",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"JsonOutput\":\"here is the output in correct json format\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        256
      ],
      "id": "d75e7adc-fd17-4c87-b3a9-75669625a7b9",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/135e0fa6-8d2d-4c47-ad5b-72eab3292936",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        736
      ],
      "id": "bea48ccb-362d-4198-81a5-dd11efbe3475",
      "name": "Webhook1",
      "webhookId": "7de4f248-66e9-4931-bc38-c1a2bcd85bf7"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\": \"{{ $json.body.user_message }}\",\n  \"sessionId\": \"{{ $json.body.session_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        736
      ],
      "id": "ec480ab5-7481-4161-a58a-c700aa8532ef",
      "name": "Prepare Chat Response1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3456,
        736
      ],
      "id": "c18b8de0-2b8a-4312-9067-4b441a637531",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        960
      ],
      "id": "7ff24f94-edc9-4a82-a2ca-88ee8c0a8a25",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "lBzDr1SyQ4cFmyCL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1488,
        960
      ],
      "id": "eadeedcd-9a9c-4321-8115-b4ff6efa6ee5",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "1RUiinK5z6EcYYYJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Will Bot, an educational assistant for Process Mining.\n\nYour job is to answer questions briefly and clearly.\n\nRules:\n- Always answer in plain text.\n- Maximum length: 2–3 short sentences.\n- No introductions.\n- No summaries.\n- No examples unless explicitly asked.\n- If the user writes a single term (e.g. \"process mining\"), explain it briefly.\n- Never format text.\n- Never use markdown.\n- Never use symbols like *, -, #, or bullets.\n- Use simple spoken language suitable for text-to-speech.\n\nReturn only the answer text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1392,
        736
      ],
      "id": "55e8594d-a8b8-48c5-8921-5891752d4891",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/dTDpyGnF38GxQdFeLCVY",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Access-Control-Allow-Origin",
              "value": "*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (\n  {\n    text: $json.output,\n    model_id: \"eleven_monolingual_v1\",\n    voice_settings: { stability: 0.5, similarity_boost: 0.75 }\n  }\n) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        608
      ],
      "id": "1ab92187-4f5b-46fd-9669-d8abc8589cca",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "A2Y40AF2zTNinJvF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        784,
        912
      ],
      "id": "9186e87b-6707-4222-a06b-9cc771d3bcbb",
      "name": "When chat message received",
      "webhookId": "efa4d6d8-841a-40f5-8a8d-6fbd4478b30d",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b04c328-1589-40e5-b20a-f44a818123d9",
              "name": "response",
              "value": "={{ $node[\"AI Agent1\"].json.output }}",
              "type": "string"
            },
            {
              "id": "a0daaf86-dc6a-433e-9acc-8e158cc43523",
              "name": "audio_url",
              "value": "={{ $node[\"Edit Fields2\"].json.audio_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        736
      ],
      "id": "6698ba84-4260-4c20-8099-c37bff4ae5dc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1/object/tts/{{ $execution.id }}.mp3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_API_KEY"
            },
            {
              "name": "apikey",
              "value": "SUPABASE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2224,
        608
      ],
      "id": "40c87124-2328-4cd0-a2a7-a9ea19dbf322",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eab5dc01-8f2d-4651-987f-eaaff77d8e9c",
              "name": "audio_url",
              "value": "={{ `https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1${$node[\"Supabase Signed URL\"].json.signedURL}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        608
      ],
      "id": "67bcfb61-d8fe-471b-a314-202c90b3d327",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1/object/sign/{{ $json.Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_API_KEY"
            },
            {
              "name": "apikey",
              "value": "SUPABASE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "expiresIn",
              "value": "600"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2480,
        608
      ],
      "id": "a12f26b9-2ebd-4045-a694-a4745d40cd2d",
      "name": "Supabase Signed URL"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to look up information from the uploaded PDF documents when the user asks factual questions.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1696,
        960
      ],
      "id": "20e0bccb-0922-4c2f-b878-dd8d3a1b15f4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "hK2Abbvle4xSjlFl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1696,
        1168
      ],
      "id": "f57d5ca7-7fef-4f1a-90c9-d94a84360fd1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "lBzDr1SyQ4cFmyCL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/135e0fa6-8d2d-4c47-ad5b-72eab3292936",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2768,
        -16
      ],
      "id": "40d6568b-5659-47eb-b754-5533d5c2a12b",
      "name": "Webhook2",
      "webhookId": "7de4f248-66e9-4931-bc38-c1a2bcd85bf7",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\": \"{{ $json.body.user_message }}\",\n  \"sessionId\": \"{{ $json.body.session_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        -16
      ],
      "id": "ab76c972-af17-4297-99b6-e766dbcf712b",
      "name": "Prepare Chat Response2",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        5456,
        -16
      ],
      "id": "f16d0a07-5c38-4b89-be36-ef13d6513ed4",
      "name": "Respond to Webhook2",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3328,
        208
      ],
      "id": "df130e61-a1ca-4cb7-8561-3c8463466f46",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "lBzDr1SyQ4cFmyCL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3488,
        208
      ],
      "id": "72164ae7-e002-4a6a-af64-64498feb932d",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "1RUiinK5z6EcYYYJ",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3392,
        -16
      ],
      "id": "367896a4-0bc9-4cee-8340-1561baec90c7",
      "name": "AI Agent2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/dTDpyGnF38GxQdFeLCVY",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Access-Control-Allow-Origin",
              "value": "*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (\n  {\n    text: $json.output,\n    model_id: \"eleven_monolingual_v1\",\n    voice_settings: { stability: 0.5, similarity_boost: 0.75 }\n  }\n) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4016,
        -144
      ],
      "id": "6593840d-8fbb-4971-a812-0bcccb9eb4ec",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "A2Y40AF2zTNinJvF",
          "name": "Header Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b04c328-1589-40e5-b20a-f44a818123d9",
              "name": "response",
              "value": "={{ $node[\"AI Agent2\"].json.output }}",
              "type": "string"
            },
            {
              "id": "a0daaf86-dc6a-433e-9acc-8e158cc43523",
              "name": "audio_url",
              "value": "={{ $node[\"Edit Fields4\"].json.audio_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5280,
        -16
      ],
      "id": "adc89e0a-8aff-4947-8bbe-790a7cc63175",
      "name": "Edit Fields3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1/object/tts/{{ $execution.id }}.mp3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_API_KEY"
            },
            {
              "name": "apikey",
              "value": "SUPABASE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4224,
        -144
      ],
      "id": "e739b946-b9e8-4cc1-9eb6-1d12336eddba",
      "name": "HTTP Request4",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eab5dc01-8f2d-4651-987f-eaaff77d8e9c",
              "name": "audio_url",
              "value": "={{ `https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1${$node[\"Supabase Signed URL1\"].json.signedURL}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        -144
      ],
      "id": "27ccb67e-8d81-495c-8853-9d7eb6c06869",
      "name": "Edit Fields4",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1/object/sign/{{ $json.Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUPABASE_API_KEY"
            },
            {
              "name": "apikey",
              "value": "SUPABASE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "expiresIn",
              "value": "600"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4480,
        -144
      ],
      "id": "fb188e80-f935-490c-8d24-2a6f06453260",
      "name": "Supabase Signed URL1",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to look up information from the uploaded PDF documents when the user asks factual questions.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3696,
        208
      ],
      "id": "4cadc07c-6e92-4164-8cab-76c6e0b66b93",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "hK2Abbvle4xSjlFl",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        3696,
        416
      ],
      "id": "67d6404d-e6ce-498b-8e16-a9a5b42e29a1",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "lBzDr1SyQ4cFmyCL",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "98",
            "pragma": "no-cache",
            "cache-control": "no-cache",
            "sec-ch-ua-platform": "\"macOS\"",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8"
          },
          "params": {},
          "query": {},
          "body": {
            "user_message": "hi",
            "current_shape": "sphere",
            "session_id": "a0e207f2-fc0f-4133-955a-4ad6d0590261"
          },
          "webhookUrl": "http://localhost:5678/webhook/135e0fa6-8d2d-4c47-ad5b-72eab3292936",
          "executionMode": "production"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "98",
            "pragma": "no-cache",
            "cache-control": "no-cache",
            "sec-ch-ua-platform": "\"macOS\"",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8"
          },
          "params": {},
          "query": {},
          "body": {
            "user_message": "hi",
            "current_shape": "sphere",
            "session_id": "a0e207f2-fc0f-4133-955a-4ad6d0590261"
          },
          "webhookUrl": "http://localhost:5678/webhook/135e0fa6-8d2d-4c47-ad5b-72eab3292936",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Response": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Prepare Chat Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Response1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Prepare Chat Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Supabase Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Signed URL": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Prepare Chat Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Response2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Supabase Signed URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Signed URL1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9cf28ce-c1ab-4775-b9e4-5ca37d7a0733",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b4f1e049af51dcd63107278b3d99c11ef8c9647a8a9bfbe4bef533357389ce7"
  },
  "id": "V6BtJseaHi6jW3SU",
  "tags": []
}