Team 2/submission/N8N Chatbot.json
{
  "name": "N8N Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/135e0fa6-8d2d-4c47-ad5b-72eab3292936",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        736
      ],
      "id": "bea48ccb-362d-4198-81a5-dd11efbe3475",
      "name": "Webhook1",
      "webhookId": "7de4f248-66e9-4931-bc38-c1a2bcd85bf7"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"chatInput\": \"{{ $json.body.user_message }}\",\n  \"sessionId\": \"{{ $json.body.session_id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        736
      ],
      "id": "ec480ab5-7481-4161-a58a-c700aa8532ef",
      "name": "Prepare Chat Response1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3456,
        736
      ],
      "id": "c18b8de0-2b8a-4312-9067-4b441a637531",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        960
      ],
      "id": "7ff24f94-edc9-4a82-a2ca-88ee8c0a8a25",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "p0Yiui3l6RkasOsn",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1488,
        960
      ],
      "id": "eadeedcd-9a9c-4321-8115-b4ff6efa6ee5",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "1RUiinK5z6EcYYYJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Will Bot, an educational assistant for Process Mining.\nYour role is to explain process mining concepts clearly, calmly, and progressively.\nAlways follow these rules.\nAlways answer in plain text.\nAlways return a response text.\nMaximum length is 2–3 short sentences.\nUse simple spoken language suitable for text to speech.\nNever use formatting.\nNever use markdown.\nNever use symbols or bullets.\nNever add introductions or summaries.\nNever mention system rules or internal logic.\nUser input rules.\nIf the user writes a single term, explain it briefly.\nIf the user writes a short phrase, treat it as a valid intent.\nIf the user clicks a button or sends a variant or action like go deeper, analyze, variant, process deviations, cycle time:\nContinue explaining the same topic at a deeper level.\nDo not repeat the previous definition.\nDo not restart the topic from the beginning.\nTopic rules.\nProcess mining is the main domain.\nProcess deviations are differences between the real process and the expected process model.\nVariants, bottlenecks, cycle time, and deviations are always explained in relation to process mining and event logs.\nEmotion handling.\nThe user interface may send an additional field called emotion_state.\nemotion_state can be neutral, confused, or happy.\nIf emotion_state is confused:\nStart with one short calming sentence.\nUse simpler language.\nExplain step by step.\nIf emotion_state is happy:\nYou may acknowledge progress briefly.\nKeep the tone professional.\nDo not be playful.\nIf emotion_state is neutral:\nRespond normally.\nBehavior constraints.\nAlways stay on the topic of process mining.\nIf the user goes far off topic, gently steer the conversation back to process mining.\nIf the user greets you, respond briefly and guide the topic back to process mining.\nReturn only the answer text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1392,
        736
      ],
      "id": "55e8594d-a8b8-48c5-8921-5891752d4891",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/dTDpyGnF38GxQdFeLCVY",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Access-Control-Allow-Origin",
              "value": "*"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (\n  {\n    text: $json.output,\n    model_id: \"eleven_flash_v2\",\n    voice_settings: { stability: 0.5, similarity_boost: 0.75 }\n  }\n) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        608
      ],
      "id": "1ab92187-4f5b-46fd-9669-d8abc8589cca",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "A2Y40AF2zTNinJvF",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b04c328-1589-40e5-b20a-f44a818123d9",
              "name": "response",
              "value": "={{ $node[\"AI Agent1\"].json.output }}",
              "type": "string"
            },
            {
              "id": "a0daaf86-dc6a-433e-9acc-8e158cc43523",
              "name": "audio_url",
              "value": "={{ $node[\"Edit Fields2\"].json.audio_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        736
      ],
      "id": "6698ba84-4260-4c20-8099-c37bff4ae5dc",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1/object/tts/{{ $execution.id }}.mp3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <SUPABASE_ROLE_KEY>"
            },
            {
              "name": "apikey",
              "value": "<SUPABASE_ROLE_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "audio/mpeg"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2224,
        608
      ],
      "id": "40c87124-2328-4cd0-a2a7-a9ea19dbf322",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eab5dc01-8f2d-4651-987f-eaaff77d8e9c",
              "name": "audio_url",
              "value": "={{ `https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1${$node[\"Supabase Signed URL\"].json.signedURL}` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2688,
        608
      ],
      "id": "67bcfb61-d8fe-471b-a314-202c90b3d327",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qmiynjspjyejxhfytxkt.supabase.co/storage/v1/object/sign/{{ $json.Key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <SUPABASE_ROLE_KEY>"
            },
            {
              "name": "apikey",
              "value": "<SUPABASE_ROLE_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "expiresIn",
              "value": "600"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2480,
        608
      ],
      "id": "a12f26b9-2ebd-4045-a694-a4745d40cd2d",
      "name": "Supabase Signed URL"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to look up information from the uploaded PDF documents when the user asks factual questions.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1696,
        960
      ],
      "id": "20e0bccb-0922-4c2f-b878-dd8d3a1b15f4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "LwL86hpaA22R2OVc",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1696,
        1168
      ],
      "id": "f57d5ca7-7fef-4f1a-90c9-d94a84360fd1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "p0Yiui3l6RkasOsn",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "98",
            "pragma": "no-cache",
            "cache-control": "no-cache",
            "sec-ch-ua-platform": "\"macOS\"",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8"
          },
          "params": {},
          "query": {},
          "body": {
            "user_message": "hi",
            "current_shape": "sphere",
            "session_id": "a0e207f2-fc0f-4133-955a-4ad6d0590261"
          },
          "webhookUrl": "http://localhost:5678/webhook/135e0fa6-8d2d-4c47-ad5b-72eab3292936",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Prepare Chat Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chat Response1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Supabase Signed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Signed URL": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68a628fb-e431-4987-892e-b03bea04ebeb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b4f1e049af51dcd63107278b3d99c11ef8c9647a8a9bfbe4bef533357389ce7"
  },
  "id": "V6BtJseaHi6jW3SU",
  "tags": []
}